body {
    background-color: #141414; /* Fondo oscuro, similar a Netflix */
    color: #fff; /* Texto blanco */
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #e50914; /* Rojo característico de Netflix */
}

.peliculas-list {
    display: flex;
    flex-wrap: wrap; /* Permite que las películas se envuelvan en pantallas pequeñas */
    justify-content: space-around; /* Espacio uniforme entre las películas */
}

.pelicula {
    background-color: #2f2f2f; /* Fondo ligeramente más claro para las tarjetas de películas */
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 350px; /* Ancho fijo para las tarjetas de películas */
    /* largor de imagen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para resaltar las tarjetas */
    transition: transform 0.3s ease; /* Transición suave para la animación */
}

.pelicula:hover {
    transform: scale(1.05); /* Ligero aumento de tamaño al pasar el ratón */
}

.pelicula h2 {
    color: #e50914;
    margin-bottom: 10px;
}

.pelicula p {
    margin: 8px 0;
}

.portada img {
    width: 60%;
    height: 200px; /* Mantiene la proporción de la imagen */
    border-radius: 4px;
    margin-top: 10px;
}

.btn-vintage {
    display: inline-block;
    background-color: #e50914;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.btn-vintage:hover {
    background-color: #c20710; /* Ligeramente más oscuro al pasar el ratón */
}

hr {
    border: none;
    height: 1px;
    background-color: #444;
    margin: 20px 0;
}
